*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-slide{
    min-height: 100vh;
    background-image: url(../Assets/Images/bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: bg 18s ease-in-out infinite;
    background-position: center
}

.con{
    margin-top: 35vh;
}

.con p{
    color: rgb(144, 153, 157);
    font-size: 20px;
    font-weight: 500;
}

.logo{
    margin-top: 20vh;
}

.py-2::placeholder{
    color: white;
}

@keyframes bg {

    0%{
        background-image: url(../Assets/Images/bg01.jpg);
        background-position: center left;
    }

    25%{
        background-image: url(../Assets/Images/bg02.jpg);
        background-position: center center;
    }

    55%{
        background-image: url(../Assets/Images/bg03.jpg);
        background-position: center right;
    }

}
