*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    height: 100vh;
    background-image: url(Assets/Images/pic08.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
    animation: bg-change 20s infinite;
}

.rounded-circle{
    width: 18rem;
}

@keyframes bg-change {
    20%{
        background-image: url(Assets/Images/pic07.jpg);
    }

    40%{
        background-image: url(Assets/Images/pic06.jpg);
    }

    60%{
        background-image: url(Assets/Images/pic11.jpg);
    }

    80%{
        background-image: url(Assets/Images/pic05.jpg);
    }
}

.banner::after{
    content: "";
    position: absolute;
    background-color: rgb(25, 26, 36);
    inset: 0;
    z-index: -1;
    opacity: 0.94;
}

#basic-nav-dropdown{
    color: white;
}

.img-bg-1{
    height: 60vh;
    background-image: url(Assets/Images/pic12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    background-color: rgb(25, 26, 36);
    opacity: .94;
    border-top: 7px solid rgb(228, 76, 101);
}

.service{
    background-color: rgb(25, 26, 36);
    opacity: .94;
    border-top: 7px solid rgb(228, 76, 101);
}

.img-bg-2{
    height: 100vh;
    background-image: url(Assets/Images/pic15.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
}

.blue-div{
    width: 35%;
    background-color: rgba(25, 26, 36,0.9);
    opacity: 0.94;
    border-left: 7px solid yellow;
    overflow-y: scroll;
} 

.blue-div-2{
    display: none;
}

/*Green div*/

.img-bg-3{
    height: 100vh;
    background-image: url(Assets/Images/pic04.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
}

.mar{
    margin-left: 58%;
}

.links{
    color: white;
}

.links:hover{
    color:  rgb(228, 76, 101);
    transition: 0.2s ease-in;
}

.green-div{
    height: 100%;
    width: 35%;
    background-color: rgba(25, 26, 36, 0.9);
    border-right: 7px solid rgb(57, 192, 136);
} 

.about{
    transform: rotate(270deg);
    background: -webkit-linear-gradient(rgb(228, 76, 101) 55%,magenta);
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green-div-2{
    display: none;
}

.column>.py-3::placeholder{
    color: white;
}

.icons-section{
    background-color: rgb(28, 29, 38);
}

.hr{
    background-color: rgb(228, 76, 101);
    height: 3.2px;
    border: none;
    width: 30%;
    opacity: 1;
}

.ser-card{
    box-shadow: 1px 1px 5px 6px #2a2a30;
    background-color: #1c1d26;
}

.con{
    margin-top: 20vh;
}

.red-section{
    background-color: rgb(228, 76, 101);
}

footer{
    background-color: rgb(28, 29, 38);
}

.dis{
    animation: disappear 1s ease-out;
    opacity: 0;
}

@keyframes disappear {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
 
.fade{
    animation: fade 1.5s ease-in 0s 1 normal forwards;
}

.fade2{
    animation: fade 1s ease-in 0s 1 normal forwards;
}

@keyframes fade{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadebottom{
    animation: bottom 2s ease-in 0s 1 normal forwards;
}

@keyframes bottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.right{
    animation: right 0.8s ease-in 0s 1 normal forwards;
}

@keyframes right {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.left{
    animation: left 0.8s ease-in 0s 1 normal forwards;
}

@keyframes left {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 980px){
    .img-bg-1 {
        background-attachment: scroll;
        height: 30vh;
    }

    .img-bg-2 {
        background-attachment: scroll;
        height: 30vh;
    }

    .rounded-circle{
        width: 17rem;
    }
    
    .con{
        margin-top: 10vh;
    }

    .blue-div{
        display: none;
        width: 100%;
        margin-top: 10%;
        height: 100%;
    }

    .about{
        transform: rotate(0deg);
        text-align: center;
        width: 100%;
    }
    
    .blue-div-2{
        border-top: 7px solid yellow;
        background-color: rgb(25, 26, 36);
        display: block;
    }

    .img-bg-3 {
        background-attachment: scroll;
        height: 30vh;
    }

    .green-div{
        display: none;
        width: 100%;
        margin-top: 10%;
        height: 100%;
    }

    .green-div-2{
        border-top: 7px solid rgb(57, 192, 136);
        background-color: rgb(25, 26, 36);
        display: block;
    }

    .hr{
        width: 70%;
    }

    .mar{
        margin-left: 0rem;
    }

}

@media screen and (max-width: 378px){
    .con{
        margin-top: 0px;
    }

    .rounded-circle{
        width: 13rem;
    }
    
}